body {
   background-color: lightgray;

}
.um {
  display: grid;
  grid-template-columns: 220px 100px 100px 100px 150px 100px 270px 60px 60px 60px 100px;
  /*                   espaço   img store   abou  comm  sup   sing  noti  amig  car   busca*/
  color: lightgray;
  font-size: 20px;
  background-color: black;

}

.dois {
	display: grid;
	grid-template-columns: 10% 4% 1% 5% 1% 5% 1% 4% 1% 4% 1% 14% 9% 12%;	
}


.tres{
	display: grid;
	grid-template-columns: 10% 11% 10% 10% 10% 10% 10% 10%;
	
	
}

.quatro{
	display:grid;
	grid-template-columns: 10% 10%;
	
}

.cinco{
	display:grid;
	grid-template-columns: 100% 20%;
	
}
table {
  border-spacing: 5px;
  background-color: white;
}

td {
  padding: 1px 60px 1px;
  white-space: nowrap;

}